.app-wrapper {
 display: grid;
 width: 1170px;
 margin: auto;
 grid-template-rows: 60px 1fr;
 grid-template-columns: 2fr 10fr;
 grid-template-areas:
 "h h"
 "n c";
}
.app-wrapper-content {
    grid-area: c;
    background-color: #e8e8f3;

}
.sideBar {
  grid-area: n;
  height: 600px;
  background-color: black;
}
